<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636129866893-2q86d38iae4o3ttnbit5f0lf018ck3lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636129866893-2q86d38iae4o3ttnbit5f0lf018ck3lq</string>
	<key>API_KEY</key>
	<string>AIzaSyBTe7iNPCBnH8sfh9ZmuH1Al5ZyT_UnheQ</string>
	<key>GCM_SENDER_ID</key>
	<string>636129866893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoFramework</string>
	<key>PROJECT_ID</key>
	<string>relacionestudiantes</string>
	<key>STORAGE_BUCKET</key>
	<string>relacionestudiantes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636129866893:ios:46aebe3fb9c786b94c9ec4</string>
</dict>
</plist>